NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
APP_TTS_MONTHLY_CHARACTER_LIMIT=50000
GOOGLE_TTS_DEFAULT_VOICE_EN=en-US-Wavenet-F
GOOGLE_TTS_DEFAULT_VOICE_MS=ms-MY-Wavenet-A
NEXT_PUBLIC_APP_URL=http://localhost:3000
